#updateEndorsementForm {
    padding: 0.875rem 1rem;
    margin: 0 -2rem;
}

.endorserFieldDiv {
    padding: 0.875rem 0.3125rem;
    width: 100%;
}

.endorserFieldDiv .label {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
}

#endorsementConfirmed, #endorsementCompleted {
    margin-left: 0.3125rem;
    padding-left: 0.875rem;
    border-left: .5rem solid #00b28d;
    color: #00b28d;
}

#endorsementNotConfirmed {
    margin-left: 0.3125rem;
    padding-left: 0.875rem;
    border-left: .5rem solid #daa520;
    color: #daa520;
}

#endorsementDenied, #endorsementCouldntComplete {
    margin-left: 0.3125rem;
    padding-left: 0.875rem;
    border-left: .5rem solid #d00a6c;
    color: #d00a6c;
}

#endorserEmailCount {
    margin-top: 0.875rem;
    margin-left: 0.3125rem;
}

.formButtons {
    text-align: right;
    margin-top: 2rem;
}

.endorsementStatusCustomBadge {
    display: inline-block;
    padding: .25em 1em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5em;
    border: 1px solid #ddd;
    border-radius: 1.2em;
    color: #fff;
    background-color: #e08914;
}

#plauditPreEndorsement-button {
    span {
        text-align: center;
    }
}